*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

body {
background-color: brown;
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}

.card {
position: relative;
width: 300px;
height: 400px;    
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}

.card .front {
    background:#127 ;
   transform: perspective(500px) rotateY(0deg) ;
}
   .card .back {
    background:rgb(78, 7, 149) ;
   transform: perspective(500px) rotateY(180deg) ;
   }

   .card:hover .front {
  
   transform: perspective(500px) rotateY(180deg) ;
}

.card:hover .back {
  
    transform: perspective(500px) rotateY(360deg) ;
 }
 
.card div h1 {
    font-size: 100px;
    color: #f1f1f1;
}